<!DOCTYPE html>
<html>
<head>
    <title>Street Name Input</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/test.css') }}">
    <script src="{{ url_for('static',filename='scripts/test.js') }}"></script>
</head>
<body>
    <h1>Enter a your Street Name</h1>
    <form action="/" method="POST">
        <label for="country">Street Name:</label>
        <input type="text" id="country" name="country" placeholder="Enter a street name...">
        <ul id="autocomplete"></ul>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
